@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Momo+Trust+Display&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Playwrite+DE+VA+Guides&family=Raleway:ital,wght@0,100..900;1,100..900&family=Satisfy&display=swap");

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

html,
body {
  background-color: white;
  color: black;
  margin: 0;
}

section {
  width: 100%;
  height: 100vh;
}

/* ================================================================home section===================================================== */

.home {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  /* background-color: rgb(159, 105, 34); */
  /* border-left: 5px solid #000; */
}
header {
  height: 11%;
  border-bottom: 3px solid rgb(20, 20, 21);
}

main {
  height: 100%;
  padding-top: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid #000;
}

.hero {
  height: 100%;
  width: 82%;
  border-left: 3px solid #000;
  border-right: 3px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  gap: 40px;
  padding: 0 50px;
  color: black;
}
.left-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 100%;
}

.left-hero span {
  display: flex;
  position: relative;
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
  bottom: 45%;
  /* font-size: 170px; */
  color: black;
}

.left-hero img {
  width: 400px;
  height: auto;
  position: absolute;
  top: 40%;
  bottom: 0%;
}

.right-hero {
  display: flex;
  justify-content: space-between;
  align-items: end;
  position: absolute;
  height: 15%;
  width: 84%;
  font-size: 18px;
}

.right-hero a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ================================================================about section===================================================== */
.about {
  width: 100%;
  height: 100vh;
}

.about-name {
  font-size: 30px;
  font-weight: bold;
}

.right-about .box {
  width: 350px;
  height: 500px;
  margin: 4px;
  position: relative;
  perspective: 1000px;
  
}
.right-about .box .top {
  width: 100%;
  height: 60%;
  position: absolute;
  left: 0;
}

.right-about .box .bottom {
  width: 100%;
  height: 40%;
  position: absolute;
  bottom: 0;
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgb(163, 185, 207);
  color: black;
}

.right-about .box .bottom p {
  margin: 10px;
  margin-top: 18px;
  font-size: 18px;
  font-style: italic;
}

.right-about .box .bottom a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

/* ================================================================project section===================================================== */
.projects {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* ================================================================contact section===================================================== */
.contact {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.contact-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.basic {
  display: flex;
  justify-content: center;
  align-items: center;
}

form input {
  width: 400px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: black;
  border: 1px solid white;
  color: white;
}

.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

form textarea {
  padding: 10px;
  vertical-align: text-top;
  margin-bottom: 20px;
  background-color: black;
  border: 1px solid white;
  color: white;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit button {
  width: 150px;
  padding: 10px;
  background-color: rgb(150, 112, 93);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}
.submit button span {
  font-size: 18px;
  font-weight: bold;
}
